    /* Allgemeine Einstellungen für das Registrierungsformular */
    
    /* Container */
    .registrieren-container {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }

    /* Formular */
    .registrieren-form {
        width: 550px;
        border: 1px solid #ddd; 
        background-color: #f9f9f9;
    }

    .registrieren-form th, .registrieren-form td {
        padding: 5px;
        text-align: left;
    }

    .registrieren-formular-feld{
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
    }

    #registrieren-submit {
        border: none;
        cursor: pointer;
        float: right;
        font-weight: bold; 
        padding: 5px 10px;
        background-color: transparent;
    }

    #registrieren-submit:hover {
        background-color: gray; 
    }